h1 {
	color: $brand-orange;
	font-size: 2.5em;
    font-weight: 800;
	margin: 0 0 0.25em 0;
	line-height: 1.2;

	@media (min-width: 768px) {
		font-size: 3em;
	}
}

h2 {
	color: $brand-dark;
	font-size: 1.25em;
	margin: 1em 0 0.5em 0;

	@media (min-width: 768px) {
		font-size: 2em;
	}
}

h3 {
	margin-top: 1.5em;
}