{{> header about-active="true" }}

<div class="wrapper">
	<div class="container">
		<h1>About me</h1>
		<h2>Who am I?</h2>
		<p>My name's Tom Duncan, I'm a freelance web developer based in Coventry and Birmingham in the West Midlands. I plan, design, build and maintain a variety of websites and web apps. At the moment my work is primarily focused on advanced Wordpress themes with modern, responsive frontend development.</p>
		<p>I love crafting rich, attractive user experiences that are clear and easy to use.</p>
		<p>My aim is always to solve <strong>complex problems</strong> with <strong>simple solutions</strong>.</p>
		
		<h2>Skills & services</h2>

		{{> skills }}

		<h2>Background & experience</h2>
		<p>My background is in Computer Science – I have a degree from the University of Nottingham – which gives me a deep understanding of the underlying concepts and processes and involved in all aspects of development. I am well equipped to learn new skills and adapt my knowledge and logical ability to many different programming languages and frameworks.</p>
		<p>Equally as valuable is my three years of experience working in the industry. From 2014 to 2017 I worked for a digital agency in Birmingham. I was fortunate enough to work on projects for many different clients, from local businesses to major brands and organisations, such as Mitie, the City Bridge Trust, Allen & Overy, Metfriendly, the European Bank for Reconstruction and Development, and lots more.</p>

		<h2>Can I help you?</h2>
		<p>If you have a project in mind or need support on an existing website, contact me to see what I can do for you.</p>
		<a href="/pages/contact.html" class="Button">Get in touch <i class="ion-arrow-right-c"></i></a>
	</div>

	<div class="push"></div>
</div>

{{> footer }}