{{> header contact-active="true" }}

<div class="wrapper">
	<div class="container">
		<h1>Contact me</h1>

		<div class="Contact">
			<p>If you'd like to get in touch please send me an email:</p>
			<div class="Contact-links">
				<a href="mailto:tom@tjdweb.uk"><i class="ion-email"></i> <span>tom@tjdweb.uk</span></a>
			</div>

			<p>You can also connect with me on the following channels:</p>
			<div class="Contact-links">
				<a href="https://www.linkedin.com/in/tom-duncan-785609a3/"><i class="ion-social-linkedin"></i> <span>Linkedin</span></a>
				<a href="https://twitter.com/tomduncs"><i class="ion-social-twitter"></i> <span>Twitter</span></a>
			</div>
		</div>
	</div>

	<div class="push"></div>
</div>

{{> footer }}