.Button {
	display: inline-block;
	color: #fff;
	background: $brand-green;
	padding: 0.6em 1em;
	margin: 0.125em 0;
	text-decoration: none;
	line-height: 1;
	transition: background 0.2s;
	//border-radius: 0.25em;
	font-weight: bold;
	font-size: 1.25em;

	i {
		padding-left: 0.25em;
	}

	&:hover {
		background: darken($brand-green, 10);
	}
}