// Generic colours
$black: 			#000000;
$white:				#FFFFFF;
$grey:				#555555;
$dark-grey:			#333333;
$mid-grey:			#B9B9B9;
$light-grey:		#E9E9E9;
$faint-grey: 		#F8F8F8;


$brand-orange: 		#d5896f;
$brand-orange: 		#d45a31;
$brand-orange: 		#d77150;
$brand-green: 		#7c9a96;
$brand-green: 		#6f9a94;
$brand-dark:		#423f3c;