.Footer {
	height: 154px;
	color: #fff;
	background: $brand-dark;
	box-shadow: 0px -1px 8px 1px rgba(125, 125, 125, 0.5);

	@media (max-width: 503px) {
		height: 182px;
	}

	a {
		color: inherit;
	}

	&-top {
		background: $brand-green;
		padding: 1.5rem;

		&-links {
			a {
				display: inline-block;
				margin-right: 1.5em;
				padding: 0.25em 0;
			}

			i {
				display: inline-block;
				font-size: 1.5em;
				vertical-align: middle;
				padding-right: 0.25rem;
			}

			span {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}

	&-bottom {
		background: $brand-dark;
		padding: 1.5rem;
		font-size: 0.875em;
	}
}