.Intro {
	&-header {
		h2 {
			margin-top: 0.5em;
		}

		.headshot {
			width: 85px;
			border-radius: 50%;
			border: 5px solid #fff;

			@media (min-width: 768px) {
				width: 125px;
			}

			@media (min-width: 480px) {
				float: right;
			}
		}
	}

	&-content {
		@media (min-width: 768px) {
			font-size: 1.25em;
		}

		.Button {
			font-size: 1em;;
		}
	}
}