.wrapper {
	padding-top: 80px;
	min-height: 100%;
	margin-bottom: -154px;
	background: #efefef;
	background-image: url('/assets/toolkit/images/pattern.png');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	@media (min-width: 480px) {
		padding-top: 120px;
	}

	.push {
		height: 190px;
	}
}